
/* ---------------------------------------------------
    CONTAINER STYLE
----------------------------------------------------- */
.menu-name {
    width: 100%;
    height: 50px;
    background: #2d3035;
} 

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.container-fluid .title {
    padding-top: 12px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 1.2em;
}

/* ---------------------------------------------------
    ADMIN STYLE
----------------------------------------------------- */

#admin-container {
    padding: 15px;
}

#admin-container #registered-users {
    width: 100%;
    min-height: 500px;
    height: auto;
}

#admin-container #registered-users .row {
    height: 100%;
}

#admin-container #registered-users .col {
    background: #3a3e44;
    background-clip: content-box;
}

#admin-container #registered-users .col h3.title{
    border-bottom: 1px #4e5356 solid;
}

#admin-container #registered-users .col h3.title .material-icons {
    position: absolute;
    font-size: 42px;
    top: 0px;
    right: 20px;
    cursor: pointer;
}

#admin-container #registered-users .col .grups-ui {
    position: absolute;
    bottom: 0px;
    right: 16px;
}

#admin-container #registered-users .col .grups-ui:not(:last-child) {
    padding-right: 15px;
}

#admin-container #registered-users .col h3.title .material-icons:hover {
    color: #fff;
    transition: all 0.4s ease-in-out;
}

/* ---------------------------------------------------
    SYSTEM SETTINGS
----------------------------------------------------- */
#admin-container #registered-users .col input.small {
    max-width: 49%;
}


#admin-container #registered-users .col input {
    max-width: 49%;
}

#admin-container #registered-users .col select {
    max-width: 49%;
    max-height: 300px;
    overflow-y:scroll; 
}


#admin-container #registered-users .col h3.title .material-icons {
    position: relative;
    cursor: inherit;
}


.space-col {
    padding-top: 31px;
}

.btn-col {
    display: flex;
    flex-direction: row;
}

.save-btn {
    width: 50px;
    margin-right: 5px;
}

.preview-btn {
    width: 50px;
}