<div class="container-fluid" style="min-height: 50vh">
    <!-- Admin Content -->
    <div id="admin-container">
        <!-- Register Groups -->
        <div id="registered-users">
            <div class="row">
                <div class="col col-lg-12">
                    <div class="row">
                        <div class="col col-lg-11 offset-lg-1" id="system-config">
                            <div style="padding: 10px;">
                                <!-- Register Mail -->
                                <div class="row">
                                    <div class="col col-xl-8">
                                        <form>
                                            <!-- Subject Input -->
                                            <div class="form-group">
                                                <label for="registerMailInput">{{'AdminPanel.Nodemailer.Subject' | translate}}</label>
                                                <input type="text" class="form-control" id="registerMailInput" [(ngModel)]="registerMail.subject" [ngModelOptions]="{standalone: true}">
                                            </div>
                                            <!-- Text Area -->
                                            <div class="form-group">
                                                <label for="registerArea">{{'AdminPanel.Nodemailer.RegisterMsgTitle' | translate}}</label>
                                                <textarea [(ngModel)]="registerMail.html" class="form-control" id="registerArea" rows="3" [ngModelOptions]="{standalone: true}"></textarea>
                                            </div>
                                            <h6 style="color:#656565; font-style: italic"> Require: ##system_LINK## </h6>
                                        </form>
                                    </div>
                                    <div class="col col-xl-2 space-col">
                                        <div class="btn-col">
                                            <!-- Save Buttton -->
                                            <button type="button" class="btn btn-primary btn-sm save-btn" id='registerSaveBtn' (click)="saveModal(registerMail)">
                                                <i class="material-icons">save</i>
                                            </button>
                                            <!-- Modal View Button -->
                                            <div data-toggle="tooltip" title="{{'AdminPanel.Nodemailer.PreviewTooltip' | translate}}">
                                                <button type="button" class="btn btn-primary btn-sm preview-btn" id='registerPreviewBtn' data-toggle="modal" data-target="#modalPreView"
                                                    (click)="switchModalTo(registerMail)">
                                                    <i class="material-icons">pageview</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- EmailChange Mail -->
                                <div class="row">
                                    <div class="col col-xl-8">
                                        <form>
                                            <!-- Subject Input -->
                                            <div class="form-group">
                                                <label for="changeMailInput">{{'AdminPanel.Nodemailer.Subject' | translate}}</label>
                                                <input type="text" class="form-control" id="changeMailInput" [(ngModel)]="changeMail.subject" [ngModelOptions]="{standalone: true}">
                                            </div>
                                            <!-- Text Area -->
                                            <div class="form-group">
                                                <label for="registerArea">{{'AdminPanel.Nodemailer.EmailChangeTitle' | translate}}</label>
                                                <textarea [(ngModel)]="changeMail.html" class="form-control" id="changeMailRegisterArea" rows="3" [ngModelOptions]="{standalone: true}"></textarea>
                                            </div>
                                            <h6 style="color:#656565; font-style: italic"> Require: ##system_LINK## </h6>
                                        </form>
                                    </div>
                                    <div class="col col-xl-2 space-col">
                                        <div class="btn-col">
                                            <!-- Save Buttton -->
                                            <button type="button" class="btn btn-primary btn-sm save-btn" id='changeMailRegisterSaveBtn' (click)="saveModal(changeMail)">
                                                <i class="material-icons">save</i>
                                            </button>
                                            <!-- Modal View Button -->
                                            <div data-toggle="tooltip" title="{{'AdminPanel.Nodemailer.PreviewTooltip' | translate}}">
                                                <button type="button" class="btn btn-primary btn-sm preview-btn" id='changeMailRegisterPreviewBtn' data-toggle="modal" data-target="#modalPreView"
                                                    (click)="switchModalTo(changeMail)">
                                                    <i class="material-icons">pageview</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalPreView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{subject}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" [innerHTML]="htmlToRender | safeHtml">
            </div>
        </div>
    </div>
</div>