<span *ngIf="isFocused; else readValue">
    <input #inputElement (focusout)="onFocusOut()" [(ngModel)]=value>
</span>

<ng-template #readValue>
    <span (click)="onClick()">
        {{value}}
    </span>
</ng-template>
