/* ---------------------------------------------------
    ADMIN STYLE
----------------------------------------------------- */

#admin-container {
    padding: 15px;
}

#admin-container #registered-groups {
    width: 100%;
    min-height: 500px;
    height: auto;
}

#admin-container #registered-groups .row {
    height: 100%;
}

#admin-container #registered-groups .col {
    background: #3a3e44;
    background-clip: content-box;
}

#admin-container #registered-groups .col h3.title{
    border-bottom: 1px #4e5356 solid;
}

#admin-container #registered-groups .col h3.title .material-icons {
    position: absolute;
    font-size: 42px;
    top: 0px;
    right: 20px;
    cursor: pointer;
}

#admin-container #registered-groups .col .grups-ui {
    position: absolute;
    margin-top: 100px;
    right: 16px;
}

#admin-container #registered-groups .col .grups-ui:not(:last-child) {
    padding-right: 15px;
}

#admin-container #registered-groups .col h3.title .material-icons:hover {
    color: #fff;
    transition: all 0.4s ease-in-out;
}

#admin-container #registered-groups .row .form-check .col {
    padding-top: 20px;
}