.title {
    padding-top: 12px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 1.2em;
}

h3.title{
    border-bottom: 1px #4e5356 solid;
}

h3.title{
    border-bottom: 1px #4e5356 solid;
}

h3.title .material-icons {
    position: absolute;
    font-size: 42px;
    top: 0px;
    right: 20px;
    cursor: pointer;
}

h3.title .material-icons:hover {
    color: #fff;
    transition: all 0.4s ease-in-out;
}


h3.title .material-icons {
    position: relative;
    cursor: inherit;
}

input {
    max-width: 49%;
}
