<h3 class="title">
    <i class="material-icons">web</i> {{'AdminPanel.MainWebsite.Header' | translate}} </h3>
<div class="form-group">
    <!-- Website title -->
    <label for="website-title">{{'AdminPanel.MainWebsite.Title' | translate}}</label>
    <input type="email" class="form-control" id="website-title" aria-describedby="emailHelp" placeholder="{{'AdminPanel.MainWebsite.EmailPlaceholder' | translate}}"
        [(ngModel)]="websiteTitle" (input)="onInputChange()">
    <small id="emailHelp" class="form-text text-muted">{{'AdminPanel.MainWebsite.SmallTitle' | translate}}</small>
</div>