<h3 class="title">
    <i class="material-icons">account_box</i> {{'AdminPanel.RegisterConfig.RegisterOption' | translate}} </h3>

<!-- Guest Group -->
<div class="form-group">
    <label for="guestGroupSelect">{{'AdminPanel.RegisterConfig.GuestGroup' | translate}}</label>

    <select class="form-control" id="guestGroupSelect" #guest (change)="onSelectChangeGuestGroup(guest.selectedIndex)">
        <option *ngFor="let group of userGroups" [selected]="group._id == guestGroup._id">{{group.name}}</option>
    </select>
</div>

<!-- Default group -->
<div class="form-group">
    <label for="groupSelect">{{'AdminPanel.RegisterConfig.DefaultGroup' | translate}}</label>

    <select class="form-control" id="groupSelect" #item (change)="onSelectChange(item.selectedIndex)">
        <option *ngFor="let group of userGroups" [selected]="group._id == defaultGroup._id">{{group.name}}</option>
    </select>
</div>

<!-- Email confirm time -->
<div class="form-group">
    <label for="email-confirm-time">{{'AdminPanel.RegisterConfig.EmailConfirTime' | translate}}</label>
    <input [(ngModel)]="registerConfirmTime" (change)="onInputChange()" type="email" class="form-control" id="email-confirm-time" aria-describedby="confirmTime" placeholder="{{'AdminPanel.RegisterConfig.EmailConfirmTimePlaceholder' | translate}}">
    <small id="confirmTime" class="form-text text-muted">{{'AdminPanel.RegisterConfig.EmailConfirmTimeSmall' | translate}}</small>
</div>