img {
    height: 260px;
    width: 100%;
    -webkit-box-shadow: -3px -3px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px -3px 10px -2px rgba(0,0,0,0.75);
    box-shadow: -3px -3px 10px -2px rgba(0,0,0,0.75);

    transition: ease-in-out 150ms
}

img:hover {
    cursor: pointer;
    height: 300px;
}

 span {
    color:white;
}


.no-image {
    background-color:#2e333a;
    width: 100%;
    height: 100%;
}

.no-image:hover {
    cursor: pointer;
}