<div [hidden]="imageLoading" style="overflow: hidden; height: 260px; width: 173.33px">
    <img (load)="onImageLoad()" height="480px;" class="poster mx-auto d-block" [src]=path>
</div>

<!-- Image Loading spinner -->
    <div *ngIf="imageLoading" class="d-flex justify-content-center align-items-center" style="height: inherit; width: inherit">
        <spinner *ngIf="path != null;else noImage" class="no-image d-flex justify-content-center align-items-center"></spinner>
    </div>


<ng-template #noImage>
    <div class="no-image d-flex justify-content-center align-items-center">
        <i class="material-icons" style="font-size: 100px">photo_library</i>
    </div>
</ng-template>