<div class="dropdown">
    <input [ngClass]="{'expand': expand}" (blur) = "onBlur($event)" (click)="onInputClick()" (keyup)="onKeyUp($event.target.value)" class="form-control mr-sm-2 search"
        type="search" placeholder="Search" aria-label="Search" #input>
    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
    <div class="dropdown-content" [ngClass]="{'show': dropdown}">
        <div *ngFor="let searchResult of (searchResults$ | async)?.results"  >
            <a (mousedown)='onSelectClick($event.target, input)' routerLink="cinema/series/{{searchResult.id}}" routerLinkActive="active">{{searchResult.name}}</a>
        </div>
    </div>
</div>