<div id="admin-container">
    <!-- Register Groups -->
    <div id="registered-groups">
        <div class="row">
            <div class="col col-lg-12">
                <div style="padding: 10px;">
                    <h3 class="title">Groups
                        <!-- Save Button -->
                        <i class="material-icons" (click)="save()">save</i>
                    </h3>
                    <!-- Groups List Select Menu -->
                    <div class="row" style="min-height:200px">
                        <div class="col col-lg-6">
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let group of groups" (click)="select(group)" [class.active]="group === selectedItem">{{group?.element.name}}</li>
                                <div *ngIf="groups?.length <= 0">
                                    <ul class="list-group">
                                        <li class="list-group-item">{{'AdminPanel.UserGroups.NoGroup' | translate}}</li>
                                    </ul>
                                </div>
                            </ul>
                        </div>
                        <!-- Group Menu -->
                        <div class="col col-lg-6">
                            <form>
                                <div class="form-group row">
                                    <label for="inputGroupName" class="col-sm-2 col-form-label">{{'AdminPanel.UserGroups.Name' | translate}}: </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputGroupName" placeholder="text" [(ngModel)]="selectedItem?.element.name" name="group-name"
                                            (input)="update()">
                                    </div>
                                </div>
                                <!-- Right UI -->
                                <div class="grups-ui">
                                    <!-- Left UI -->
                                    <button type="button" class="btn btn-primary" (click)="add()">
                                        <!-- New Button -->
                                        <i class="material-icons">fiber_new</i>
                                    </button>
                                    <button type="button" class="btn btn-primary" (click)="delete()">
                                        <!-- Delete Button -->
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Groups List Select Menu -->
                    <!-- TODO -->
                    <!-- Display all groups to inherity -->
                    <div class="row" style="margin-top: 20px">
                        <div class="col col-lg-12">
                            <h4 style="text-align:center">Inherity</h4>
                            <div *ngIf="isChildReady">
                                <SelectionRoutes 
                                (selectGroupRoute)="handleSelectGroupRoute($event)"
                                (unselectGroupRoute)="handleUnselectGroupRoute($event)">
                            </SelectionRoutes>
                            </div>
                        </div>
                        <!-- Display all routes -->
                        <div class="col col-lg-12">
                            <div *ngIf="groups">
                                <routes-list (routeList)="handleRouteList($event)" (routeClick)="handleRouteClick($event)">
                                </routes-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>