<h4 style="text-align:center">{{"AdminPanel.Routes.Route" | translate}}</h4>
<div class="form-check">
    <div class="row">
        <div *ngFor="let i of rows" class="col col-xl-4">
            <div *ngFor="let route of routes | slice:(i*itemsPerRow):(i+1)*itemsPerRow">
                <label class="form-check-label">
                    <input class="form-check-input" id='_checkbox_route' type="checkbox" value="" [(ngModel)]="route.checked" (click)="onSelectCheckBox(route)">{{route.path}} - {{route.method}}
                </label>
            </div>
        </div>
    </div>
</div>