<div class="d-flex flex-column background justify-content-between" style="background-color: #2d3035">
    <h4 class="m-auto pb-2 pt-2">Menu</h4>
    <ul class="list-group">
        <li class="list-group-item" routerLink="header" routerLinkActive="active">Nagłówek</li>
        <li class="list-group-item" routerLink="seasons" routerLinkActive="active">Sezony</li>
        <li class="list-group-item no-active" routerLink="../" routerLinkActive="active">Powrót do podglądu</li>
    </ul>
</div>