.background {
    background-color: #292d35;
}

h3 {
    color: white;
}

li {
    transition: background-color 150ms ease-in-out;
}

li:hover {
    background-color:#25282d;
}
.no-active {
    background-color: white;
    color: #8a8d93;
    border-color: white;
    border-top-color: #b5b5b5;
}

.no-active:hover {
    border-color: #292d35;
}