<h3 class="title">
    <i class="material-icons">email</i>Nodemailer Config </h3>
<!-- User -->
<div class="form-group">
    <label for="nodemailer-user">Email confirm time</label>
    <input type="email" class="form-control" id="nodemailer-user" (input)='onInput()' [(ngModel)]='userName' aria-describedby="nodemailerUser" placeholder="Username">
    <small id="nodemailerUser" class="form-text text-muted">Enter username or email.</small>
</div>
<!-- Password -->
<div class="form-group">
    <label for="nodemailer-password">Password</label>
    <input type="password" class="form-control" id="nodemailer-password" (input)='onInput()' [(ngModel)]='password' placeholder="Password">
</div>
<!-- From -->
<div class="form-group">
    <label for="nodemailer-from">From</label>
    <input type="email" class="form-control" id="nodemailer-from" (input)='onInput()' [(ngModel)]='from' aria-describedby="nodemailerFrom" placeholder="example:' exampleMail@server.com'">
    <small id="nodemailerFrom" class="form-text text-muted">who send the message.</small>
</div>
<!-- Service -->
<div class="form-group">
    <label for="nodemailer-service">Service</label>
    <input type="email" class="form-control" id="nodemailer-service" (input)='onInput()' [(ngModel)]='service' aria-describedby="nodemailerService" placeholder="example: 'Gmail'">
    <small id="nodemailerService" class="form-text text-muted">SMTP service for example: Gmail, iCloud, AOL</small>
</div>