<!-- Container -->
<div class="container-fluid" style="min-height: 50vh">
    <!-- Menu Name -->
    <div class="menu-name">
        <div class="title">
            Dashboard
        </div>
    </div>
    <!-- User Profile -->
    <div id="profile-config">
        <div class="row max-height">
            <!-- User Content-->
            <div class="col-12 order-2 order-sm-1 col-sm-9 col-md-9 order-md-1 col-lg-9 order-lg-1" id="c-userp">
                    <router-outlet></router-outlet>
            </div>
            <!-- User Sidebar-->
            <div class="col-12 order-1 order-sm-2 col-sm-3 col-md-3 order-md-2 col-lg-3 order-lg-2 " id="side-nav-up">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
