

/* ---------------------------------------------------
    CONTAINER STYLE
----------------------------------------------------- */
.menu-name {
    width: 100%;
    height: 50px;
    background: #2d3035;
} 

 .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

 .container-fluid .title {
    padding-top: 12px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 1.2em;
}



/* ---------------------------------------------------
    USER PROFILE CONFIG STYLE
----------------------------------------------------- */

#profile-config {
    width: 100%;
    min-height: 100vh;
    padding: 14px 35px;
    background: #2d3035;
    background-clip: content-box;
}


#profile-config .row.max-height {
    margin: 0px 0px;
    height: 100%;
}

#profile-config #c-userp {
    height: 100%;
}

#profile-config #c-userp .image-upload{
    height: 300px;
    margin-top: 15px;
    background: #3a3e44;
    background-clip: content-box;
    border: 3px #51555d dashed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-config #c-userp .btn {
    margin-top: 10px;
}

#profile-config #c-userp .material-icons{
    font-size: 200px;
}


#profile-config #side-nav-up {
    padding-top:10px;
    border-left: 1px #3b3f46 solid;
}

#profile-config #side-nav-up a {
    color: inherit;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
}

#profile-config #side-nav-up li:hover {
    background: #fff;
    transition: all 0.3s ease-in-out;
}

/* ---------------------------------------------------
      MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 575px) {
    #profile-config #side-nav-up {
        border-left: none;
        border-bottom: 1px #3b3f46 solid;
    }
}

@media (max-width: 1024px) {
    nav#sidebar{
        width: 90px;
        min-width: 0px;
        max-width: none;
    }
    
    nav#sidebar ul li a, nav#sidebar ul a {
        display: block;
        padding: 5px 0px 10px;
        text-align: center;
        font-size: 14px;
        word-wrap: break-word;
    }
    
    nav#sidebar i.material-icons {
        width: 100%;
        border: none;
        font-size: 25px;
        padding-left: 5px;
    }
    
    nav#sidebar .main-title {
        padding-left: 24px;
        font-size: 1rem;
    }

    nav#sidebar.shrinked {
        margin-left: -90px;
    }
}