/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #2d3035;
    padding-top: 20px;
    min-height: 100vh;
    color: #6a6c70;

    border-right: 1px #353b3f solid;
}

#sidebar .main-title {
    padding-left: 10px;
    font-size: 1.2rem;
    color: #50545a;
    font-weight: 700;
}

#sidebar ul li a, #sidebar ul a {
    color: inherit;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 18px 20px;
    transition: all 0.3s ease-in-out;
    font-weight: 400;
}

#sidebar .material-icons {
    padding-right: 10px;
    margin-right: 15px;
    border-right: 2px #3b3f46 solid;
    color: rgb(155, 152, 152);
    font-size: 32px;
}

#sidebar ul li:hover a, #sidebar ul a[data-toggle]:hover{
    background: #3b3f46;
    text-decoration: none;
    color: #fff;
}

#sidebar ul li:hover .material-icons {
    color: #fff;
}

/* ---------------------------------------------------
    SIDEBAR SHRINKED STYLE
----------------------------------------------------- */

nav#sidebar.shrinked {
    width: 90px;
    min-width: 0px;
    max-width: none;
}

nav#sidebar.shrinked ul li a, nav#sidebar.shrinked ul a {
    display: block;
    padding: 5px 0px 10px;
    text-align: center;
    font-size: 14px;
    word-wrap: break-word;
}

nav#sidebar.shrinked i.material-icons {
    width: 100%;
    border: none;
    font-size: 25px;
    padding-left: 5px;
}

nav#sidebar.shrinked .main-title {
    padding-left: 24px;
    font-size: 1rem;
}
