<!-- Sidebar -->
<nav id="sidebar" #sidebar>
    <ul class="navbar-nav mr-auro">
        <li class="main-title">
            Main
        </li>
        <li>
            <a href="#">
                <i class="material-icons">home</i>Home
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="material-icons">people</i>
                Users
            </a>
        </li>

        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
            <i class="glyphicon glyphicon-home"></i>
            Home
        </a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
                <a href="#">Home 1</a>
            </li>
            <li>
                <a href="#">Home 2</a>
            </li>
            <li>
                <a href="#">Home 3</a>
            </li>
        </ul>
    </ul>
</nav>