.nav-pills .nav-link.active {
    background-color: #dd0611;
}

.navbar-brand {
    display: inline;
    padding-left: 20px;
}

.navbar {
    height: 70px;
    border-bottom: 1px #353b3f solid;
}

.navbar-dark {
    background: #2d3035 !important;
}

.wrapper {
    display: flex;
}

@import url('https://fonts.googleapis.com/css?family=Muli');

/* ---------------------------------------------------
    BODY STYLE
----------------------------------------------------- */
body {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.navbar #btn-circle {
    width: 32px;
    height: 31px;
    background: #45474a;
    border-radius: 50%;
    border: 0px #5e5e79 solid;
    box-shadow: 0 0 10px #7f868e;
    cursor: pointer; 
}

.navbar #btn-circle span#material-icons {
    padding-top: 4px;
    color: #fff;
    font-size: 20px;
}

.navbar #btn-circle span#material-icons::before {
    font-family: "Material Icons";
    content: "arrow_back";
}

.navbar #btn-circle.toggle span#material-icons::before {
    font-family: "Material Icons";
    content: "arrow_forward";
}

.navbar #btn-circle:hover span#material-icons {
    color: #dc3545;
}

.navbar #btn-circle:focus {
    outline: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #2d3035;
    padding-top: 20px;
    min-height: 100vh;
    color: #6a6c70;

    border-right: 1px #353b3f solid;
}

#sidebar .main-title {
    padding-left: 10px;
    font-size: 1.2rem;
    color: #50545a;
    font-weight: 700;
}

#sidebar ul li a, #sidebar ul a {
    color: inherit;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 18px 20px;
    transition: all 0.3s ease-in-out;
    font-weight: 400;
}

#sidebar .material-icons {
    padding-right: 10px;
    margin-right: 15px;
    border-right: 2px #3b3f46 solid;
    color: rgb(155, 152, 152);
    font-size: 32px;
}

#sidebar ul li:hover a, #sidebar ul a[data-toggle]:hover{
    background: #3b3f46;
    text-decoration: none;
    color: #fff;
}

#sidebar ul li:hover .material-icons {
    color: #fff;
}

/* ---------------------------------------------------
    SIDEBAR SHRINKED STYLE
----------------------------------------------------- */

nav#sidebar.shrinked {
    width: 90px;
    min-width: 0px;
    max-width: none;
}

nav#sidebar.shrinked ul li a, nav#sidebar.shrinked ul a {
    display: block;
    padding: 5px 0px 10px;
    text-align: center;
    font-size: 14px;
    word-wrap: break-word;
}

nav#sidebar.shrinked i.material-icons {
    width: 100%;
    border: none;
    font-size: 25px;
    padding-left: 5px;
}

nav#sidebar.shrinked .main-title {
    padding-left: 24px;
    font-size: 1rem;
}

/* ---------------------------------------------------
    CONTAINER STYLE
----------------------------------------------------- */
.wrapper .menu-name {
    width: 100%;
    height: 50px;
    background: #2d3035;
} 

.wrapper .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.wrapper .container-fluid .title {
    padding-top: 12px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 1.2em;
}

/* ---------------------------------------------------
    APP CONTENT STYLE
----------------------------------------------------- */
.container-fluid #app {
    margin: 5px 5%;
}

#app .col {
    height: 360px;
    padding: 20px;
    background-clip: content-box;
}

#app .wrapper {
    display: flex;
    height: 100%;
}

#app .wrapper .image {
    flex: 3;
    background: red;
    background-clip: content-box;
    position: relative;
}

#app .wrapper .image img{
    width: 100%;
    height: 100%;
    box-shadow: 6px 8px 6px 0px rgba(0, 0, 0, 0.58);
}

#app .wrapper .image .image-wrapper {
    height: 8%;
    width: 100%;
    color: #fff;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    background: #000000;
    text-align: center;
    z-index: 1000;
    opacity: 0;
}

#app .wrapper:hover .image-wrapper {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

#app .wrapper .ui {
    flex: 1.1;
    overflow: hidden;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background: #2d3035;
    padding-left: 10px;
    background-clip: content-box;
    border-radius: 10px;
    box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
}

#app .wrapper .ui span {
    flex: 1;
}

#app .wrapper .ui span .ui-icon {
    height: max-content;
    font-size: 36px;
    flex: 1;
}

#app .wrapper .ui span .ui-icon:hover {
    color: #fff;
    font-size: 42px;
    cursor: pointer;
}

#app .wrapper .ui span #expand::before {
    font-family: "Material Icons";
    content: "keyboard_arrow_right";
}

#app .wrapper .ui .top {
    display: flex;
    justify-content: center;
}

#app .wrapper .ui .top .wrapper{
    padding-top: 10px;
}

#app .wrapper .ui .middle {
    display: flex;
    justify-content: center;
}

#app .wrapper .ui .middle .wrapper{
    padding-top: 32px;
}

#app .wrapper .ui .bot {
    display: flex;
    justify-content: center;
}

#app .wrapper .ui .bot .wrapper{
    padding-top: 58px;
}


/* ---------------------------------------------------
    USER PROFILE CONFIG STYLE
----------------------------------------------------- */

#profile-config {
    width: 100%;
    height: 100vh;
    padding: 14px 70px;
    background: #2d3035;
    background-clip: content-box;
}


#profile-config .row.max-height {
    margin: 0px 0px;
    height: 100%;
}

#profile-config #c-userp {
    height: 100%;
}

#profile-config #c-userp .image-upload{
    height: 300px;
    margin-top: 15px;
    background: #3a3e44;
    background-clip: content-box;
    border: 3px #51555d dashed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-config #c-userp .btn {
    margin-top: 10px;
}

#profile-config #c-userp .material-icons{
    font-size: 200px;
}


#profile-config #side-nav-up {
    padding-top:10px;
    border-left: 1px #3b3f46 solid;
}

#profile-config #side-nav-up a {
    color: inherit;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
}

#profile-config #side-nav-up li:hover {
    background: #fff;
    transition: all 0.3s ease-in-out;
}

/* ---------------------------------------------------
    FOOTER STYLE
----------------------------------------------------- */
footer {
    background: #2d3035;
    height: 150px;
    border-top: 1px #353b3f solid;
}

/* ---------------------------------------------------
      MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 1024px) {
    nav#sidebar{
        width: 90px;
        min-width: 0px;
        max-width: none;
    }
    
    nav#sidebar ul li a, nav#sidebar ul a {
        display: block;
        padding: 5px 0px 10px;
        text-align: center;
        font-size: 14px;
        word-wrap: break-word;
    }
    
    nav#sidebar i.material-icons {
        width: 100%;
        border: none;
        font-size: 25px;
        padding-left: 5px;
    }
    
    nav#sidebar .main-title {
        padding-left: 24px;
        font-size: 1rem;
    }

    nav#sidebar.shrinked {
        margin-left: -90px;
    }
}