img {
    max-width: 200px;
    min-width: 200px;

    max-height: 280px;
    min-height: 280px;
    box-shadow: 0px 10px 28px -6px rgba(0,0,0,0.75);
}

img:hover {
    cursor: pointer;
}

.col-12 {
    padding-right: 0px;
    padding-left: 0px;
}