<div class="container-fluid" style="min-height: 50vh">
    <!-- Admin Content -->
    <div id="admin-container">
        <!-- Register Groups -->
        <div id="registered-users">
            <div class="row">
                <div class="col col-lg-12">
                    <div class="row">
                        <div class="col col-lg-10 offset-lg-2" id="system-config">
                            <div style="padding: 10px;">
                                <!--BASIC  -->
                                <form>
                                    <main-website-config></main-website-config>
                                    <!-- REGISTER -->
                                    <register-option-config></register-option-config>
                                    <!-- List email domain blocked -->
                                    <blocked-mail-domain></blocked-mail-domain>
                                    <!-- NODEMAILER -->
                                    <nodemailer-config-component></nodemailer-config-component>
                                    <!-- Save Button-->
                                    <h3 class="title"></h3>
                                    <button type="submit" class="btn btn-primary" id='save_btn' (click)='onSave()'>Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>