<div class="d-flex flex-column" style="background-color: #151617; height: 145px;width: 100%; margin-top: 6px;">
    <div class="mx-auto">
        <h3>Twoje Tv Show!</h3>
    </div>
    <div class="m-1 d-flex flex-column" style="background-color: #2f3235;">
        <span class="p-1">
            Ostatnia ogladany odc:
            <b>27</b>
        </span>
        <span class="p-1">
            Ostatnia ogladany sezon:
            <b>1</b>
        </span>
        <span class="p-1">
            Ostatni raz ogladany:
            <b>2007-08-9</b>
            <b>1</b>
        </span>
    </div>
</div>


<div class="d-flex flex-column" style="background-color: #202225; height: 154px;width: 100%; margin-top: 6px;">
    <div class="mx-auto">
        <h3>
            <i class="material-icons">info_outline</i> Serial
        </h3>
    </div>
    <div class="m-1 d-flex flex-column" style="background-color: #2f3235;">
        <span class="pt-1">Suma wszystkich odcinków:
            <b>{{data?.episodesCount}}</b>
        </span>
    </div>
    <div class="mx-auto">
            <h3>
                <i class="material-icons">info_outline</i> Sezon
            </h3>
        </div>
    <div class="m-1 d-flex flex-column" style="background-color: #2f3235;">
        <span class="pt-1">Data premiery:
            <b>{{data?.air_date}}</b>
        </span>
    </div>
</div>



<div class="right-panel ">
    <div class="d-flex justify-content-center align-self-center">
    </div>
    <div class="d-flex flex-column">
        <small>
            <span class="pt-5 d-flex justify-content-center align-self-center">
                <i class="material-icons pr-2">help_outline</i>
                <b class="pr-1">18</b>osób prosi o aktualizacje treści</span>
        </small>
    </div>
</div>