/* ---------------------------------------------------
    FOOTER STYLE
----------------------------------------------------- */
footer {
    background: #2d3035;
    height: 150px;
    border-top: 1px #353b3f solid;

}