.app-body {
    border-right: 2px #676666 solid;
}

.app-body img{
    width: 100%;
    height: 100%;
}

.wrapper img:hover{
    transform: scale(1.8);
    transition: .8s ease-in-out;
}

.app-body .wrapper {
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px #f8f8f8 solid;
    max-width: 90%;
}

.app-body .wrapper-selected {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.col .container {
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
}

.container .poster {
    flex: 2;
}

.container .ui-body {
    flex:7;
    display: flex;
    flex-direction: column;
}

.ui-body .info {
    flex:7;   
}

.ui-body .ui {
    flex: 3;
    background: linear-gradient(to bottom, #3a3a3a00 1%,#e32c35 100%);
}

.ui img {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.ui .settings {
    position: absolute;
    right: 0px;
    margin-right: 20px;
}

.app-body hr {
    background: #7d7d7d;
    border: none;
    height: 2px;
    margin-top: 0px;
}

.app-body .col {
    padding-left: 0px;
}

.app-body .inner {
    background: #717171;
    height: 250px;
}

.app-body .col {
    padding-left: 0px;
}

.sort {
    background: #717171;
    margin-top: 20px;
}

.sort hr {
    background: #616161;
}

@media(max-width: 450px) {
    .container .poster {
        display: none;
    }

    .ui img {
        width: 40px;
        height: 40px;
    }
}