@media only screen and (max-width: 1024px) {
    .sm-dont-display{
        display: none;
    }
}

.carousel-inner {
    height: 450px;
    border-bottom: 7px #1d1d1d solid;
}
.carousel-caption {
    /* background-color: rgba(221,6,16,0.23); */
    background: linear-gradient(to top, rgba(19, 19, 19, 1), rgba(0, 0, 0, 0));
    bottom: initial;
    left: initial;
    right: initial;
    width:100%;
    top: 329px;
}