footer {
    background:#141414;
    height: 150px;
    
    position:absolute;
    bottom:0;
    width:100%;
}

footer .container-fluid {
    height: inherit;
}

footer hr.white {
    width: 100%;
    background-color: #b6b5b5;
}