/* .inner {
    background: #ececec;
}
   */
.inner {
  margin-bottom: 15px;
  height: 320px;
  width: 100%;
}

.inner img {
  width: inherit;
  height: inherit;
}

.bg-red {
  background: #863f43;
  height: 40px;
  font-size: 24px;
}

.bg-black {
  background: #1d1d1d;
  height: 140px;
  margin-top: 10px;
}

.bg-more {
  border-bottom: 3px solid #2d2c2c;
  width: 140px;
  height: 36px;
}

.bg-more a {
  color: white;
}

.bg-more a:hover {
  color: black;
  text-decoration: none;
}
.ranking-font-size-option{
  font-size: 24px;
  text-align: center;
}


.inner img {
  border: 4px #5b5959 solid;
}


.inner .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: inherit;
  width: calc(100% - 10px);
  margin-left: 5px;
  opacity: 0;
  /* transition: .9s linear; */
  background-color: rgba(19, 19, 19, 0.73);
}

.col {
  padding-left: 5px;
  padding-right: 5px;
}

.overlay:hover {
  z-index: 3;
  opacity: 1;
  transform: scale(1.15);
  cursor: pointer;
  transition-duration: .8s; 

}

.inner:hover img {
  position: relative;
  transform: scale(1.15);
  z-index: 2;
  transition-duration: .8s; 
}

.inner .text {
  position: absolute;
  bottom: 6px;
  text-align: center;
  width: 98%;
  height: 28%;
  overflow: hidden;
  background-color: rgba(31, 28, 28, 0.664);
  margin-left: 6.5px;
}


  /* Set min-heights on medium devices */
  /* @media (min-width: 768px) {
    .col-left .inner {
      min-height: 400px;
    }
  
    .col-middle .inner {
      min-height: 120px;
    }
  
    .col-right .inner {
      min-height: 120px;
    }
  
    .col-right .inner:first-child {
      min-height: 260px
    }
  } */