.bg-ranking-items {
    background: #5b5959;
    margin-top: 10px;
    height: auto;
  }
  
  .bg-ranking-items img{
    max-height: 400px;
  }

  .bg-ranking-items img:hover {
      transform: scale(1.08);
  }