<form class="pb-4 pt-4">
    <div class="form-group">
        <label for="episodeName">Nazwa Odcinka</label>
        <input [(ngModel)]="episodeName" (key.enter)=onAddNewEpisode() type="text" class="form-control" id="episodeName" aria-describedby="emailHelp" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label for="episodeAirDate">Episode Air Date</label>
        <input [(ngModel)]="episodeDate" (key.enter)=onAddNewEpisode() type="text" class="form-control" id="episodeAirDate" [ngModelOptions]="{standalone: true}">
    </div>
    <small class="form-text text-muted pb-2">Przykład: yyy-mm-dd</small>
    <button type="submit" class="btn btn-primary" (click)="onAddNewEpisode()">
        Dodaj nowy odcinek
    </button>
</form>

<div simplebar>
    <table class="table table-striped table-dark">
        <tbody>
            <tr *ngFor="let episode of data?.episodes; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>
                    <editor-input (sendData)="onReciveData($event, i)" [value]=episode.name></editor-input>
                </td>
                <td importance-date date={{episode.air_date}} style="min-width: 127px; max-width: 127px">
                    <editor-input (sendData)="onReciveDateData($event, i)" [value]=episode.air_date></editor-input>
                </td>
                <td>
                    <button type="button" class="btn btn-dark" (click)="onDeleteClick(i)">
                        <i class="material-icons">
                            delete_forever
                        </i>
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
</div>