<div class="image-upload" drag-and-drop-directive allowed_extension="['png','jpg','jpeg']" (onValidFileDrop)="onGetFile($event)">
    <div [ngSwitch]='fileUploadStatus'>
        <!-- CLEAR PLACE TO DROP FILE -->
        <ng-container *ngSwitchCase='FileUploadStatus.NO_IMAGE'>
            <div class="icon">
                <i class="material-icons">file_upload</i>
            </div>
            <div class="text">Drag and drop file or click upload button </div>
        </ng-container>
        <!-- DISPLAY IMAGE -->
        <ng-container *ngSwitchCase='FileUploadStatus.DISPLAY_IMAGE'> 
                <!-- <div class='x'>  -->
                    <img [src]='getSaveUrl()' class='switchImg'>
                <!-- </div> -->
        </ng-container>

        <!-- ON UPLOADING FILE - SPINNER -->
        <load-spinner *ngSwitchCase='FileUploadStatus.UPLOADING_IMAGE'></load-spinner>
    </div>
</div>

<img class='imgBuffor' style="display:none" #imgBuffor (load)='onBufforImgLoad(imgBuffor)'>

<!-- <img [src]='image' class='switchImg' [style.height.px]='imgHeight' [style.width.px]='imgWidth'> -->