<div *ngFor="let season of data let i = index">
    <div class="pr-2 pt-2">
        <div>
            <div (click)="onClick(i)" class="d-flex flex-column mt-1">
                <div>
                    <cinema-image [path]=getUrl(i)></cinema-image>
                </div>
                <div class="d-block m-auto">
                    {{season.name}}
                </div>
            </div>
        </div>
    </div>
</div>