 img {
    height: 200px;
    -webkit-box-shadow: -3px -3px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px -3px 10px -2px rgba(0,0,0,0.75);
    box-shadow: -3px -3px 10px -2px rgba(0,0,0,0.75);
}

 span {
    color:white;
}


.no-image {
    background-color:#2e333a;
    width: 173.33px;
    height: 260px;
}

cinema-image {
    width: 174px;
    height: 260px;
}