<div simplebar>
    <table class="table table-striped table-dark">
        <tbody>
            <tr *ngFor="let episode of data?.episodes; let i = index">
                <th scope="row">{{i + 1}}</th>
                <th scope="row">({{i + data?.episodesOffset}})</th>
                <td>{{episode.name}}</td>
                <td importance-date date={{episode.air_date}} style="min-width: 127px; max-width: 127px">{{episode.air_date}}</td>
                <td *ngIf="user != null">
                    <i class="material-icons" [style.color]="getVisablityColor(i)" (click)="onClick(i)">visibility</i>
                </td>
            </tr>

        </tbody>
    </table>
</div>
