tbody{
    height: 970px;
    max-height: 1000px;
}

div {
    max-height: 600px; 
    min-height: 560px;
    overflow: hidden;
}

td i.marked {
    color: green;
}

td i:hover {
    color: green;
    cursor: pointer;
}
