<div class="row">
    <div class="col-md-6">
        <div class="d-flex flex-column" style="width:100%; height:500px">
            <div class="d-flex flex-column">
                <file-upload [image]="getBackdropUrl()" #fileUpload style="width:100%; height:300px" [path]=profilePath imgWidth='347' imgHeight='400'
                    maxCompresionHeight='450' maxCompresionWidth='1400' (onUploadComplete)="headerUpload($event)"></file-upload>
                <!-- Upload Image Button -->
                <transmission-button class="pt-4" [fileUploadComponent]=fileUpload allowed_extension="['png','jpg','jpeg']"></transmission-button>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="name">Nazwa</label>
                <input type="email" class="form-control" id="name" [(ngModel)]="data.name" name="name">
            </div>
            <div class="form-group">
                <label for="overview">Opis</label>
                <textarea class="form-control" id="overview" rows="6" [(ngModel)]="data.overview" name="overview"></textarea>
            </div>
        </form>
    </div>
</div>