.no-image {
    background-color:#2e333a;
    width: 320px;
    height: 445px;
}


.header-content {
    height: 510px;
    background-color: #31363e;
}

.seasons-content {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 2px;
    background-color: #22252a;
}
iframe {
    height: auto;
    padding-left: 10px;
}

iframe.trailer {
    width: 560px;
    min-height: 320px;
    height: auto;
}
.soundtrack-content {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 2px;
    background-color: #31363e;
}
.content {
    height: 480px;
    color:white;
}

.content small {
    color: #afafaf;
}

.stars {
    color: yellow;
    font-size: 48px
}

.rating {
 margin-top: -25px;
}


.content .movie-title {
    color:red;
}

.content .item {
    font-size: 55px;
}

.content .item:hover {
    color: #6993d6;
    cursor: pointer;
}

.max-w {
    max-width: 51%;
}

.seasons-content img {
    height: 300px;
    -webkit-box-shadow: -3px -3px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px -3px 10px -2px rgba(0,0,0,0.75);
    box-shadow: -3px -3px 10px -2px rgba(0,0,0,0.75);
}
.content hr {
    border-color: #3b414a;
}

.seasons-content span {
    color:white;
}

.right-panel {
    background-color: rgb(35, 38, 43);
    border-radius: 12px;
}

.poster {
    -webkit-box-shadow: 4px 4px 14px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 14px -3px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 14px -3px rgba(0,0,0,0.75);
    height: 460px;
}


@media (max-width: 1520){
    .content .poster {
        height: 450px;
    }
}

@media (max-width: 1520px){
    .content .poster {
        height: 410px;
    }
}

@media (max-width: 1342px){
    .content .poster {
        height: 370px;
    }
}

@media (max-width: 1220px){
    .content .poster {
        height: 350px;
    }
}
@media (max-width: 1199px){
    .content .poster {
        height: 480px;
    }
    .header-content {
        height:950px;
    }
}


@media (max-width: 1300px) {
    .max-w {
        max-width: 85%;
    }
}
