<!-- HEADER CONTENT -->
<div class="header-content mt-1" [ngStyle]="{'background-image': 'linear-gradient(rgba(45, 48, 53, 0.71) 0%, rgb(34, 37, 42) 100%),  url('+ url + data?.backdrop_path + ')', 'background-size': 'cover'}">
	<div class="container justify-content-center align-self-center">
		<div class="row content">
			<!-- CONTENT -->
			<!-- <div class="col-3"> -->
					<!-- Poster image -->
					<!-- <div [hidden]="imageLoading">
						<img (load)="onImageLoad()" height="480px;" class="poster mx-auto d-block" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{data?.poster_path}}">
					</div> -->
	
					<!-- Image Loading spinner -->
					<!-- <div *ngIf="imageLoading" class="d-flex justify-content-center align-items-center">
						<spinner *ngIf="data?.backdrop_path != null;else noImage" class="no-image d-flex justify-content-center align-items-center"></spinner>
					</div>
					<ng-template #noImage>
						<div class="no-image d-flex justify-content-center align-items-center"><i class="material-icons" style="font-size: 100px">photo_library</i></div>
					</ng-template>
	
				</div> -->
			<div class="col-9">
				<!-- TITLE -->
				<div class="d-flex flex-column">
					<div class="p-2">
						<h1 class="d-flex">{{data?.name}}
							<small class="pl-2">{{data?.first_air_date |date:'yyyy' | noData}}</small>
							<img class="ml-auto p-2" src="/assets/images/tmdb-logo.svg" height="62px">
						</h1>
					</div>
					<!-- RATING -->
					<div class="p-2 d-flex rating">
						<i class="material-icons stars pr-3">star</i>
						<span class="h3 justify-content-center align-self-center">{{data?.vote_average | noRating}}</span>
					</div>
					<!-- DESCRIPTION -->
					<div class="pt-4 pb-4">
						<h2 class="pb-3">
							<i>Opis:</i>
						</h2>
						<div>
							{{ data?.overview | noContent: 'NoDescription' | async}}
						</div>
					</div>
					<!-- MENU -->
					<div>
						<hr>
					</div>
					<div class="p-2 d-flex justify-content-end">
						<i class="material-icons item">playlist_add</i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>