body {
    background-color: rgb(24, 24, 24);
}

/* ---------------------------------------------------
    CONTAINER STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    min-height: 95%;
}


.wrapper .menu-name {
    width: 100%;
    height: 50px;
    background: #2d3035;
} 

.wrapper .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.wrapper .container-fluid .title {
    padding-top: 12px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 1.2em;
}