<nav-bar></nav-bar>

<!-- Wrapper -->
<div class="wrapper">
    <div *ngIf="true">
        <!-- <sidebar></sidebar>         -->
    </div>
    <router-outlet></router-outlet>
</div>
<footer-app></footer-app>
<system-message></system-message>