<div class="row">
    <div class="col col-lg-6">
        <label for="list-group-blocked">{{'AdminPanel.BlockedMailDomain.Title' | translate}}</label>
        <ul class="list-group" id="list-group-blocked">
            <li class="list-group-item" *ngFor = "let domain of blockedEmailDomains" 
            (click)="onSelectGroup(domain)" [class.active]="domain === selectedDomain">{{domain?.name}}</li>
        </ul>
    </div>
    <div class="col col-lg-6">
        <!-- mail domain input -->
        <div class="form-group">
            <label for="email-domain-service">{{'AdminPanel.BlockedMailDomain.ServiceLabel' | translate}}</label>
            <input type="email" class="form-control small" id="email-domain-service" aria-describedby="emailDomainService" placeholder="{{'AdminPanel.BlockedMailDomain.InputPlaceholder' | translate}}" [(ngModel)]="selectedDomain.name" (input)='onUpdateValue()'>
            <small id="emailDomainService" class="form-text text-muted">{{'AdminPanel.BlockedMailDomain.Small' | translate}}</small>
            <!-- Allert Message -->
            <div *ngIf="isError()" class="alert alert-danger" innerHTML = "{{'AdminPanel.BlockedMailDomain.Msg' | translate}}">
            </div>
        </div>
        <!-- buttons -->
        <button type="button" class="btn btn-primary" id='btn_add' (click)="addDomain()">
            <i class="material-icons">add</i>
        </button>
        <button type="button" class="btn btn-primary" id='btn_remove' (click)="removeDomain()">
            <i class="material-icons">delete</i>
        </button>
    </div>
</div>