{{htmlContent}}

<div class="row" style="width:100%; height:320px">
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <file-upload #fileUpload imgWidth='511' imgHeight='312' maxCompresionHeight='320' maxCompresionWidth='550'></file-upload>
    </div>
</div>

<label for="file-upload" class="custom-file-upload">
    Custom Upload
</label>


<div class="row">
    <div class="col-md-4 order-md-1 col-lg-12 order-lg-3">
        <div class="alert alert-info">A</div>
    </div>
    <div class="col-md-4 order-md-2 col-lg-12 order-lg-2">
        <div class="alert alert-danger">B</div>
    </div>
    <div class="col-md-4 order-md-3 col-lg-12 order-lg-1">
        <div class="alert alert-info">C</div>
    </div>

    
<button (click)="test()">XXX</button><button (click)="test2()">XXX2</button>
</div>


<transmission-button [fileUploadComponent]=fileUpload allowed_extension="['png','jpg','jpeg']"></transmission-button>

<quill-editor style="background-color: white; height: 900px;"></quill-editor>

