

/* ---------------------------------------------------
    CONTAINER STYLE
----------------------------------------------------- */
.menu-name {
    width: 100%;
    height: 50px;
    background: #2d3035;
} 

 .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

 .container-fluid .title {
    padding-top: 12px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 1.2em;
}

[hidden] {
    display: none;
}

/* ---------------------------------------------------
    USER PROFILE CONFIG STYLE
----------------------------------------------------- */
.row.max-height {
    margin: 0px 0px;
    height: 100%;
}

.image-upload{
    height: 300px;
    margin-top: 15px;
    background: #3a3e44;
    background-clip: content-box;
    border: 3px #51555d dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-upload img {
    width: 342px;
    height: 294px;
}

.btn {
    margin-top: 10px;
}

.material-icons{
    font-size: 200px;
}


#side-nav-up {
    padding-top:10px;
    border-left: 1px #3b3f46 solid;
}

#side-nav-up a {
    color: inherit;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
}

 #side-nav-up li:hover {
    background: #fff;
    transition: all 0.3s ease-in-out;
}




quill-editor {
    display: block;
  }
  .ng-invalid {
    border: 1px dashed red;
  }

  /* Set default font-family */
  [quill-editor-element] {
    font-family: "Roboto";
  }

  /* Set dropdown font-families */
  [quill-editor-toolbar] .ql-font span[data-label="Aref Ruqaa"]::before {
    font-family: "Aref Ruqaa";
  }
  [quill-editor-toolbar] .ql-font span[data-label="Mirza"]::before {
    font-family: "Mirza";
  }
  [quill-editor-toolbar] .ql-font span[data-label="Roboto"]::before {
    font-family: "Roboto";
  }

  /* Set content font-families */
  .ql-font-mirza {
    font-family: "Mirza";
  }
  .ql-font-aref {
    font-family: "Aref Ruqaa";
  }
  /* We do not set Aref Ruqaa since it is the default font */



/* ---------------------------------------------------
      PROFILE IMAGE UPLOAD
----------------------------------------------------- */

:host-context(.extended-image) .image-upload {
    color: white;
    border: 3px white dashed;
    transition: all 300ms ease-in-out;
}

:host-context(.after) .icon::before {
    content: 'file_upload';
    font-size: 75%;
    pointer-events: none;
}

/* .extend-image{
    color: white;
    border: 3px white dashed;
    transition: all 300ms ease-in-out;
} */
.icon::before {
    content: 'account_circle';
    pointer-events: none;
}

.after::before {
    content: 'file_upload';
    font-size: 75%;
    pointer-events: none;
}

.icon {
    flex: 6;
    pointer-events: none;
}

.text{
    flex: 1;
    color: #737375;
    font-style: italic;
    pointer-events: none;
}


/* ---------------------------------------------------
      MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 1024px) {
    nav#sidebar{
        width: 90px;
        min-width: 0px;
        max-width: none;
    }
    
    nav#sidebar ul li a, nav#sidebar ul a {
        display: block;
        padding: 5px 0px 10px;
        text-align: center;
        font-size: 14px;
        word-wrap: break-word;
    }
    
    nav#sidebar i.material-icons {
        width: 100%;
        border: none;
        font-size: 25px;
        padding-left: 5px;
    }
    
    nav#sidebar .main-title {
        padding-left: 24px;
        font-size: 1rem;
    }

    nav#sidebar.shrinked {
        margin-left: -90px;
    }
}