<!-- Poster image -->
<div [hidden]="imageLoading">
    <img (load)="onImageLoad()" width="306px" height="445px" class="poster mx-auto d-block" [src]="path">
</div>

<!-- Image Loading spinner -->
<div *ngIf="imageLoading" class="d-flex justify-content-center align-items-center">
    <spinner *ngIf="path != null;else noImage" class="no-image d-flex justify-content-center align-items-center"></spinner>
</div>
<ng-template #noImage>
    <div class="no-image d-flex justify-content-center align-items-center">
        <i class="material-icons" style="font-size: 100px">photo_library</i>
    </div>
</ng-template>