header-content {
    padding-bottom: 55px;
}


/* ---------------------------------------------------
      SERIES
----------------------------------------------------- */
.no-image {
    background-color:#2e333a;
    width: 320px;
    height: 480px;
}

.header-content {
    height: 510px;
    background-color: #31363e;
}

.seasons-content {
    /* height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 2px; */
    background-color: #22252a;
}
iframe {
    height: auto;
    padding-left: 10px;
}

iframe.trailer {
    width: 560px;
    min-height: 320px;
    height: auto;
}
.soundtrack-content {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 2px;
    background-color: #31363e;
}
.content {
    height: 480px;
    color:white;
}

.content small {
    color: #555a61;
}

.stars {
    color: yellow;
    font-size: 48px
}

.rating {
 margin-top: -25px;
}


.content .movie-title {
    color:red;
}

.content .item {
    font-size: 55px;
}

.content .item:hover {
    color: #6993d6;
    cursor: pointer;
}

.seasons-content img {
    height: 260px;
    -webkit-box-shadow: -3px -3px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px -3px 10px -2px rgba(0,0,0,0.75);
    box-shadow: -3px -3px 10px -2px rgba(0,0,0,0.75);
}
.content hr {
    border-color: #3b414a;
}

.seasons-content span {
    color:white;
}

.right-panel {
    background-color: rgb(35, 38, 43);
    border-radius: 12px;
}

@media (max-width: 1520){
    .content .poster {
        height: 450px;
    }
}

@media (max-width: 1520px){
    .content .poster {
        height: 410px;
    }
}

@media (max-width: 1342px){
    .content .poster {
        height: 370px;
    }
}

@media (max-width: 1220px){
    .content .poster {
        height: 350px;
    }
}
@media (max-width: 1199px){
    .content .poster {
        height: 480px;
    }
    .header-content {
        height:950px;
    }
}
/* ---------------------------------------------------
      MEDIAQUERIES
----------------------------------------------------- */


@media (min-width: 1100px) {
    .offset {
        margin-left: 4.333333%;
    }
}

@media (max-width: 1024px) {
    nav#sidebar{
        width: 90px;
        min-width: 0px;
        max-width: none;
    }
    
    nav#sidebar ul li a, nav#sidebar ul a {
        display: block;
        padding: 5px 0px 10px;
        text-align: center;
        font-size: 14px;
        word-wrap: break-word;
    }
    
    nav#sidebar i.material-icons {
        width: 100%;
        border: none;
        font-size: 25px;
        padding-left: 5px;
    }
    
    nav#sidebar .main-title {
        padding-left: 24px;
        font-size: 1rem;
    }

    nav#sidebar.shrinked {
        margin-left: -90px;
    }
}

