<div class="d-flex flex-column">
	<!-- HEADER CONTENT -->
	<header-content [data]=headerData></header-content>
	<!-- Seasons -->
	<div class="seasons-content container">
		<h3>Aktualnie wybrany sezon: {{actualSeason}}</h3>
		<div class="row">
			<div class="col-lg-9">
				<table-component [data]=tableData></table-component>
				<season-content  (indexSend)="onIndexSend($event)"  [data]=seriesData class=" d-flex flex-row justify-content-start flex-wrap" style="color: white;"></season-content>
			</div>
			<div class="col-lg-3 d-flex flex-column" style="border-left: #3b4048 solid 1px;">
				<poster-component width="100%" [path]=posterPath></poster-component>
				<information-panel [data]=informationData></information-panel>
			</div>
		</div>
	</div>
</div>