/* .nav-pills .nav-link.active {
    background-color: #dd0611;
}

.navbar-brand {
    display: inline;
    padding-left: 20px;
}

.navbar {
    border-bottom: 2px #282c2f solid;    
} */

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.navbar #btn-circle {
    width: 32px;
    height: 31px;
    background: #45474a;
    border-radius: 50%;
    border: 0px #5e5e79 solid;
    box-shadow: 0 0 10px #7f868e;
    cursor: pointer; 
}

.navbar #btn-circle span#material-icons {
    padding-top: 4px;
    color: #fff;
    font-size: 20px;
}

.navbar #btn-circle span#material-icons::before {
    font-family: "Material Icons";
    content: "arrow_back";
}

.navbar #btn-circle.toggle span#material-icons::before {
    font-family: "Material Icons";
    content: "arrow_forward";
}

.navbar #btn-circle:hover span#material-icons {
    color: #dc3545;
}

.navbar #btn-circle:focus {
    outline: none;
}

.nav-pills .nav-link.active {
    background-color: #dd0611;
}

.navbar-brand {
    display: inline;
    padding-left: 20px;
}

.navbar {
    height: 70px;
    border-bottom: 1px #353b3f solid;
}

.navbar-dark {
    background: #2d3035 !important;
}