<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #2d3035;">
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
     aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto nav-pills ">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <ul class="nav justify-content-end navbar-nav ">
        <li class="form-inline">
          <!-- Search -->
          <form class="form-inline my-2 my-lg-0">
            <search-component></search-component>
          </form>
        </li>
        <!-- User Profile -->
        <div *ngIf="user != null">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <img src="https://vignette4.wikia.nocookie.net/villains/images/4/43/Akame-ga-Kill-15-720p67460D75.mkv_snapshot_21.47_2014.10.17_14.42.42.png/revision/latest?cb=20141209134804"
                class="rounded-circle" width="40" height="40" alt="">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </div>
        <div class="form-inline" *ngIf="user == null" style="padding-left:20px">
          <!-- Register -->
          <li class="nav-item" >
            <a class="nav-link" rfr-directive #rfr=rfr-directive  href="#myModal" data-toggle="modal" data-target="#registerModal" id='register-link-id'>
              <span class="glyphicon glyphicon-user"></span> {{'Register.Register' | translate}}</a>
          </li>
          <!-- SignIn -->
          <li class="dropdown nav-item">
            <a href="" class="dropdown-toggle nav-link" data-toggle="dropdown" (click)="resetLoginForm()" id="dropdown-menu-log-in">
              <span class="glyphicon glyphicon-log-in"></span> Sign In
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" style="padding: 15px; min-width: 250px">
              <login-form #loginForm (userLogged)="onUserLogged($event)"></login-form>
            </ul>
          </li>
      </div>
      </ul>
    </div>
  </div>
</nav>
<register-modal #rm></register-modal>