/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Muli');

/* ---------------------------------------------------
      BOOTSTRAP STYLE
----------------------------------------------------- */
.list-group-item.active {
    background-color: #303338;
    border-color: #2d3035;
}

.list-group-item {
    cursor: pointer;
}

input[type=checkbox], input[type=radio] {
    transform: scale(1.3);
}

.form-check-label {
    padding-bottom: 1.1rem;
}

ng-component {
    width: 100%;
}

/* ---------------------------------------------------
    BODY STYLE
----------------------------------------------------- */
body {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    height: 100%
}

html {
    height: 100%;
}


@media (min-width: 1500px) {
    .container {
        max-width: 1650px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 1350px;
    }
}
