<div class="d-flex flex-row pb-3">
    <div class="d-flex flex-column pr-2" style="max-width: 280px; min-width: 280px">
        <file-upload [image]=url #fileUpload style="width:100%; height:400px" [path]=profilePath imgWidth='347' imgHeight='400' maxCompresionHeight='450'
            maxCompresionWidth='1400' (onUploadComplete)="headerUpload($event)"></file-upload>
        <!-- Upload Image Button -->
        <transmission-button class="pt-4" [fileUploadComponent]=fileUpload allowed_extension="['png','jpg','jpeg']"></transmission-button>

    </div>
    <div>
        <form>
            <div class="form-group">
                <label for="nameInput">Name</label>
                <input (input)="onInput($event.target.value)" [(ngModel)]="name" type="text" class="form-control" id="nameInput" aria-describedby="emailHelp" placeholder="Enter name"  name="name">
            </div>
        </form>
    </div>
</div>

<div class="d-flex flex-row flex-wrap">
    <div (click)="onClick(i)" class="p-2 d-flex flex-column" *ngFor="let season of data?.seasons; let i = index">
        <img class="poster" [src]=getPosterUrl(i) (error)="error($event.target)">
        <span class="m-auto">{{season.name}}</span>
    </div>
</div>