<div class="row" style="width:100%">
    <div class="col-md-5 col-lg-5 col-xl-4">
        <div class="d-flex flex-column">
            <file-upload [image]="imagePath"  #fileUpload style="width:100%; height:400px" [path]=profilePath imgWidth='347' imgHeight='400' maxCompresionHeight='400' maxCompresionWidth='320'></file-upload>
            <!-- Upload Image Button -->
            <transmission-button class="pt-4" [fileUploadComponent]=fileUpload allowed_extension="['png','jpg','jpeg']"></transmission-button>

        </div>
    </div>
    <div class="aim col-md-7 col-lg-7 col-xl-8 pb-4">
        <form>
            <h3>{{"Account.Profile.HdrEmail" | translate }}</h3>
            <hr>
            <!--Email Group -->
            <div class="form-group">
                <label for="email">{{'Register.Email' | translate}}</label>
                <input ngModel #emailInput="ngModel" class="form-control" id="email" name="email" minlength="6" maxlength="64" required placeholder="{{'Register.Email-Placeholder' | translate}}"
                    id="account-input-email-id" (input)="checkEmail(); checkRepeatEmail()" [ngClass]="{'invalid': emailStyleClass.invalid, 'valid': emailStyleClass.valid}">

                <div class="alert alert-danger" *ngIf="emailMessenger.msg" id="email-error-msg-id">
                    {{ emailMessenger.msg }}
                </div>
            </div>
            <!-- Repeat Email Group -->
            <div class="form-group">
                <label for="emailRepeat">{{'Register.Email-Repeat' | translate}}</label>
                <input ngModel #emailRepeatInput="ngModel" ngModel class="form-control" id="account-emailRepeat" name="emailRepeat" required
                    minlength="6" maxlength="64" Repeat.value placeholder="{{'Register.Email-Repeat-Placeholder' | translate}}"
                    (input)="checkRepeatEmail()" [ngClass]="{ 'invalid': emailRepeatStyleClass.invalid, 'valid': emailRepeatStyleClass.valid }">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]='emailMessenger.msg != "" || emailInput.value == ""'>{{'Account.Profile.BtnEmail' | translate}}</button>
        </form>
    </div>
    <!-- <img [src]="'assets/images/Shiro.(No.Game.No.Life).600.1948526.jpg'" id='test'> -->
    <img #profileImage style="width:auto; height:auto">
    <img id='test' [src]="" #uploadImagePlace style="width:auto; height:auto; display: none">
</div>
