.system-message {
    background: chocolate;
    height: 70px;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: -120px;
    transition: all 700ms;
    -webkit-box-shadow: 0px -8px 15px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px -8px 15px 0px rgba(0,0,0,0.65);
     box-shadow: 0px -8px 15px 0px rgba(0,0,0,0.65);
     z-index: 1000;
}

.active {
 bottom: 0px;
}


.success {
    background: rgb(29,185,84);
}

.error {
    background: rgb(185, 29, 29);
}

.fixed-center {
    position: absolute;
    left: 55px;
    bottom: 19px;
}

.fixed-left {
    position: absolute;
    left: 10px;
    bottom: 19px;
}

.fixed-right {
    position: absolute;
    right: 10px;
    bottom: 19px;
}

.system-message:hover {
    cursor: pointer;
}
