<div class="system-message" style="color:white" [ngClass]="{ 'active': isActive, 'success': isSuccess, 'error': isError }" (click)="toggle()" id='systemMessage'>
    <div>
        <span>
            <i class="material-icons fixed-left">{{icon}}</i>
        </span>
        <span class="fixed-center"> <strong>{{message}}</strong></span>
        <span>
            <i class="material-icons fixed-right">close</i>
        </span>
    </div>
</div>