<div class="container pt-2">
<div class="d-flex flex-column">
	<div class="row">
		<div class="col-12 col-lg-2 pt-3">
			<editor-menu></editor-menu>
		</div>
		<div class="col-12 col-lg-10">
			<router-outlet></router-outlet>
		</div>
	</div>
	<div class="text-right pb-3 pt-3">
		<button (click)="onSaveClick()" type="button" class="btn btn-primary">Zapisz</button>
	</div>
</div>

</div>

<button (click)="test()">TEST</button>